<div class="info-message">
<h2> Checkout all the sweet blogs! </h2>
</div>
<form>

<div class="container">
  {{#each model as |blog|}}
    <div class='blog-model'>
      <h2>Title: {{blog.title}}</h2>
      <h3>Subject: {{blog.subject}}</h3>
      <h3>Blog: {{blog.body}}</h3>
      <h3>Author: {{blog.author}}</h3>
      <br>
      <btn class='comment btn btn-primary'>Add Comment</btn>
      <btn class='edit btn btn-primary' {{action 'edit'}}>Edit Blog</btn>
      <btn class='delete btn btn-danger' {{action 'delete'}}>Delete</btn>
    </div>
  {{/each}}
</div>
</form>
