{{!-- {{title-input title=credentials.title}}
{{subject-input subject=credentials.subject}}
{{body-input body=credentials.body}}
{{author-input author=credentials.author}} --}}

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Create
</button>

<button class="btn btn-default" {{action "reset"}}>
 Reset forms
</button>
