{{!-- <h2> Checkout these sweet blogs!</h2> --}}
{{#each model as |blog|}}
{{blog-list/index
  blog=blog
  delete="deleteBlog"
}}
  {{!-- <h2>Title: {{blog.title}}</h2>
  <h3>Subject: {{blog.subject}}</h3>
  <h3>Blog: {{blog.body}}</h3>
  <h3>Author: {{blog.author}}</h3>
  <br>
  <button class='comment btn btn-primary'>Add Comment</button>
  <button class='edit btn btn-primary' {{action 'edit'}}>Edit Blog</button>
  <button class='delete btn btn-danger' type='submit' {{action 'delete'}}>Delete</button> --}}

{{/each}}
{{outlet}}
