<h2>Create blog</h2>

{{blog-form blog= model save='createList' cancel='cancel'}}

<div class="form-group">
  <label for="previous">Title</label>
  {{input type="text"
          class="form-control"
          value="title"
          maxlength="50"
          id="previous"
          placeholder="Title"
          value=passwords.previous}}
</div>

<div class="form-group">
  <label for="next">Subject</label>
  {{input type="text"
          class="form-control"
          maxlength="75"
          id="next"
          placeholder="Subject"
          value=passwords.next}}
</div>

<div class="form-group">
  <label for="next">Body</label>
  {{input type="text"
          class="form-control"
          value="description"
          maxlength="500"
          id="next"
          placeholder="Body"
          value=passwords.next}}
</div>

<div class="form-group">
  <label for="next">Author</label>
  {{input type="text"
          class="form-control"
          maxlength="50"
          id="next"
          placeholder="Author"
          value=passwords.next}}
</div>

<button type="submit" class="btn btn-primary" {{action "createBlog"}}>
  Create
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>

{{outlet}}
